# --- Project Specific ---
data/
*.pdf
screenshots/

# --- Maven & Build ---
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
# .idea/ klasörünü tamamen dışarıda bırakmak daha güvenlidir

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### OS Files ###
.DS_Store
Thumbs.db